<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask Cal</title>
</head>
<body>
  <h1>Calendar working!</h1>
  <form method='post' action='/'>
    {{form.hidden_tag()}}
    <p>{{form.name.label}} {{form.name(size=32)}}</p>
    <p>{{form.start_date.label}} {{form.start_date}} </p>
    <p>{{form.start_time.label}} {{form.start_time}} </p>
    <p>{{form.end_date.label}} {{form.end_date}} </p>
    <p>{{form.end_time.label}} {{form.end_time}} </p>
    <p>{{form.description.label}} {{form.description}}</p>
    <p>{{form.private.label}} {{form.private}}</p>
    <p>{{form.submit()}}</p>
  </form>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
      {% for appointment in appointments %}
      <tr>
        <td>{{appointment['name']}}</td>
        <td>{{appointment['start'].strftime('%H:%M')}}</td>
        <td>{{appointment['end'].strftime('%H:%M')}}</td>
      </tr>
      <div>{{row}}</div>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
